<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src= "https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{count}}</h1>
        <ul v-if="show">
            <li v-for="item in users">
                <p v-bind:class="item.picture ? '' : 'no-avatar'"> {{FIO(item)}} </p>
                <img v-if="item.picture" v-bind:src="item.picture" alt="" height="60">
                <span v-else>Нет аватара</span>
                <p v-if="item.email">{{item.email}}</p>
                <p v-if="item.phone">{{item.phone}}</p>
                <hr>
            </li>
        </ul>
    </div>


    <script src="./main.js"></script>

    <style>
        .no-avatar {
            color: red;
        }
    </style>
</body>

</html>